<div class="team">
  <div class="container">
    <p>
      {{#link-to 'index'}}home{{/link-to}}
    </p>

    <div class="team-mascot">
      <img src="assets/images/blog-bear.png" alt="" />
    </div>

    <h1>Salut!</h1>

    <p>
      I’m the <a href="http://hood.ie/animals/#blog-bear">Blog Bear</a>!
      We have lots of good stories here at Hoodie, I love to share them!
      You might wonder what writers like me can contribute to an Open Source
      project, so please let me introduce us first!
    </p>

    <h2>
      What is Hoodie?
    </h2>

    <p>
      <a href="http://hood.ie/">Hoodie</a> is a global, <strong>inclusive
        community</strong> built around supporting the <strong>open source</strong>
        software development effort of enabling (and empowering) folks to be
        able to build applications for the web. It accomplishes this by serving
        as a complete backend for your apps; it works immediately
        “out-of-the-box”:
        <strong>develop your frontend code, plug it into Hoodie’s
        frontend-friendly API and your app is ready.</strong>
    </p>

    <p>
      Hoodie can refer to both the software development project, and the broader
      community. For more information about both, visit
      <a href="http://hood.ie/">hood.ie</a>. 🐶
    </p>

    <h2>What is open source?</h2>

    <p>
      <a href="https://en.wikipedia.org/wiki/Open-source_software">Open source software</a>
      (commonly abbreviated as OSS) is computer software with its source code made
      available with a license in which the copyright holder provides the rights
      to study, change, and distribute the software to anyone and for any purpose.
      Open source software may be developed in a collaborative public manner, for
      example, by <strong>hosting code on GitHub</strong> and <strong>collaborative
      discussion on <a href="http://hood.ie/chat/">Slack and IRC</a></strong>.
    </p>

    <p>
      <a href="https://opensource.com/resources/what-open-source">
        Click here for more information on open source and open source culture
      </a>, and
      <a href="https://opensource.com/resources">
        here’s a helpful list offrequently asked questions
      </a>.
    </p>

    <h2>
      We are an inclusive community first
    </h2>

    <p>
      Hoodie is an open source project and community <strong>“beyond software.”</strong>
      Our team strongly believes that open source, an integral component of modern
      technology, is changing the way people collaborate and create, and that
      extends far beyond the source code.
    </p>

    <p>
      Hoodie is built by an amazing and dedicated community consisting of developers
      and non-coding experts. It relies on strong values like diversity, empowerment
      and decentralisation. At its core Hoodie exists to empower people and make web
      development easier and more accessible to a wide range of people.
    </p>

    <p>
      We require all participation within the Hoodie project and community to act
      according to a <a href="http://hood.ie/code-of-conduct/">Code of Conduct</a>.
      We ask you to follow these guidelines which help steer
      <strong>our interactions</strong> and strive to keep Hoodie a positive,
      growing project and community and help us <strong>provide and ensure a safe
      environment for everyone</strong>.
    </p>

    <h2>
      What does the editorial team do?
    </h2>

    <p>
      The Editorial Team is one of many talented teams that contributes to
      Hoodie’s success. <strong>Our primary focus is Hoodies’ communication with
      the wider community.</strong> We want to keep community members up to date
      with what we are doing but also showcase it to everyone who has used/is
      using/wants to use Hoodie for their project. We want to make Hoodie as open
      as possible with their process and act as a source of inspiration to the
      larger Open Source community.
    </p>

    <p>
      <a href="https://github.com/hoodiehq/editorial/wiki/Mission-Statement">
        Read our official Mission Statement here.
      </a>
    </p>

    <h3>Common editorial contributions</h3>

    <ul>
      <li>Plan and write blog posts on or around Hoodie, Hoodie releases, side projects, <a href="http://hood.ie/blog/webkit-resizer-tiny-compiler-tgif-77.html">TGIF</a>, <a href="http://hood.ie/blog/Charlotte-Spencer-meet-the-hoodies-2.html">community member profiles</a>, conference and meetup recaps, etc. 📝</li>
      <li>Solicit and curate contributions to our <a href="http://hood.ie/blog/">blog</a> from the larger community. 🔎</li>
      <li>Plan and manage our <a href="https://twitter.com/hoodiehq">Twitter account</a>, announce new content, help funnel support requests to the engineering team.</li>
      <li>Add pictures of animals in clothing to our <a href="http://meetthehoodies.tumblr.com/">Tumblr</a> 🐶 👕.</li>
      <li>General ideas and suggestions for other ways to support Hoodie!</li>
    </ul>

    <h2>
      How you can contribute
    </h2>

    <p>
      <strong>If you are brand new to Hoodie</strong>
      check out our <a href="http://hood.ie/contribute/">contribution guide</a>.
      We’re looking for people of all sorts, so don’t be afraid to get involved.
      If you’re passionate about contributing to a great community, we want you! 💎
    </p>

    <p>
      <strong>If you are brand new to open source (including GitHub)</strong>
      first, welcome! 🎉 If you haven’t checked it out yet,
      <a href="https://opensource.com/resources/what-open-source">opensource.com</a>
      has some very helpful introductory resources that will give you a good
      understanding of the premise of open source and its ecosystem.
    </p>

    <p>
      To be a Hoodie contributor, you will need a GitHub account (which is free
      for open source), <a href="https://github.com/join">sign up here</a>. To
      get familar with GitHub as an online tool, they have created several
      tutorials which you can find via
      <a href="https://guides.github.com/">GitHub Guides</a>.
    </p>

    <p>
      You will also need to know
      <a href="https://daringfireball.net/projects/markdown/">Markdown</a>,
      a text-to-HTML conversion tool for web writers. GitHub provides a
      <a href="https://guides.github.com/features/mastering-markdown/">Markdown tutorial</a>,
      and Daring Fireball has a particular thorough resource on
      <a href="https://daringfireball.net/projects/markdown/syntax">Markdown Syntax</a>.
    </p>

    <p>
      <strong>
        Please be assured you will not have to have any prior knowledge of
        code or development to be a Hoodie contributor, especially within the
        Editorial team.
      </strong>
    </p>

    <h2>How to use GitHub</h2>

    <p>
      The way in which the Editorial team uses GitHub is a bit different
      from other areas on the Hoodie team.
    </p>

    <p>
      This repository (or collection) serves as the source of truth for the
      Editorial team. We use the repository in two ways:
    </p>

    <ul>
      <li>
        <strong>Documentation</strong>
        of processes and resources (such as our style guide, or templates for
        types of reoccuring writing contributions)
      </li>
      <li>
        <strong>Idea capturing</strong>
        of all editorial contributions through the
        <a href="https://github.com/hoodiehq/editorial/issues">Issues section</a>
        of this repository
      </li>
    </ul>

    <p>
      We do not publish anything live to the externally facing websites from this
      repository. This is a <strong>safe place to learn, ask questions, and make
        mistakes.</strong> So breathe easy. ☺️
    </p>

    <p>
      <strong>Some GitHub basics</strong>
    </p>

    <ul>
      <li><a href="https://guides.github.com/activities/contributing-to-open-source/">Contributing to Open Source on GitHub</a></li>
      <li><a href="https://guides.github.com/features/mastering-markdown/">Mastering Markdown</a></li>
      <li><a href="https://guides.github.com/features/issues/">Mastering Issues</a></li>
      <li><a href="https://guides.github.com/introduction/flow/">Understanding the GitHub Flow</a></li>
    </ul>

    <h2>Issue for new editorial contributors</h2>

    <ul class="issues">
    {{#each model.yourFirstPRIssues as |issue|}}
      <li class="open {{issue-labels issue}}">
        <a class="title" href="{{issue.url}}">{{issue.title}}</a>
      </li>
    {{/each}}
    {{#unless model.yourFirstPRIssues}}
      <li class="empty">
        So sorry, but we currently don’t have any issues reserved for new
        contributors! Please <a href="https://twitter.com/hoodiehq">ping us on
        twitter</a> or <a href="http://hood.ie/chat">in our Hoodie chat</a>,
        we are happy to help you find something to work on
      </li>
    {{/unless}}
    </ul>

    <h2>Becoming a Hoodie contributor</h2>

    <p>
      If you enjoyed contributing a first time to Hoodie, we’d love to have you onboard. 🐶
      See the
      <a href="http://hood.ie/contribute/">
        Contribution Guide for the
        overall project at hood.ie/contribute
      </a>.
      Another great way to determine if you’d like to continue on the project is
      to see the
      <a href="http://hood.ie/about/">Hoodie project goals</a> and also review
      the <a href="http://hood.ie/initiatives/">project initiatives</a>, which
      are areas of the project supported across the entire team.
    </p>

    <h3>So you want to be a contributor</h3>

    <p>
      Once you have made a contribution via GitHub (completing an issue, mergine
      a PR (pull request), etc.) we would like to invite you to be a collaborator
      on the <a href="https://github.com/hoodiehq">Hoodie GitHub repository</a>.
      Please note, this is not an automated process, and requires one of the core
      maintainers to invite you – so if you are reading this and have
      <strong>not yet been invited</strong>,
      please get ahold of one of the folks mentioned below.
    </p>

    <p>
      Becoming a collaborator simply means that you gain <strong>push</strong>
      access to projects across the repository. We ask that until you have become
      a regular collaborator, that you still follow a common review process
      typically referred to as using <strong>pull requests</strong>.
    </p>

    <p>
      The <strong>review process</strong> is begun by submitting a
      <strong>pull request</strong> back to the original version (branch) of a
      repository. Many, many, many amazing tutorials have been created about the
      pull request process so I won’t recap that here, but instead point you to
      the <a href="https://help.github.com/articles/using-pull-requests/">GitHub tutorial</a>.
    </p>

    <p>
      For Hoodie, pull requests need to be approved by
      <strong>two other contributors</strong>,
      before being merged into the project.
    </p>

    <h2>Issue for recurring code contributors</h2>

    <ul class="issues">
    {{#each model.notYourFirstPRIssues as |issue|}}
      <li class="open {{issue-labels issue}}">
        <a class="title" href="{{issue.url}}">{{issue.title}}</a>
      </li>
    {{/each}}
    {{#unless model.notYourFirstPRIssues}}
      <li class="empty">
        So sorry, but we currently don’t have any issues reserved for new
        contributors! Please <a href="https://twitter.com/hoodiehq">ping us on
        twitter</a> or <a href="http://hood.ie/chat">in our Hoodie chat</a>,
        we are happy to help you find something to work on
      </li>
    {{/unless}}
    </ul>

    <h2>How to help maintain?</h2>

    <p>
      Code maintainers are helping to review open pull requests to our code
      repositories, help creating new camp issues so more people can work on
      them, respond to issues make sure the problem can be reproduced and has
      enough context to work on, and helps with code questions in our
      <a href="http://hood.ie/chat">Hoodie Chat</a>.
    </p>

    <h2>Pull requests awaiting review</h2>

    <p>
      To be done
    </p>

    <h2>Stale issues and pull requests</h2>

    <p>
      To be done
    </p>

    <h3>Next steps</h3>

    <p>
      You’ve have made your first contribution to the Hoodie project! 🎉
    </p>

    <p>
      You’ve been added as a collaborator! 😎
    </p>

    <p>
      Now, what’s next?
    </p>

    <p>
      This grey area of onboarding is one our team is looking to improve across
      the project so first –
      <strong>please give as much feedback about this as possible</strong>
      (you can <a href="mailto:renrutnnej@gmail.com?Subject=I%20have%20onboarding%20feedback!">email Jenn right here</a>)
      but know that it’s an area we want to make better.
    </p>

    <h2>Other essential resources</h2>

    <h3>
      <a href="http://hood.ie/chat/">
        Slack chat
      </a>
    </h3>

    <p>
      Please join the Hoodie project <a href="http://hood.ie/chat/">Slack chat</a>,
      because a lot of our discussion and reviewing happens in that place. It’s
      also a great place to ask questions, meet other contributors, and find out
      the latest goings on within the project. There’s a specific <em>#editorial</em>
      channel there you’ll want to join.
    </p>

    <h3>
      <a href="https://docs.google.com/spreadsheets/d/1qwjNqe8oQ-3Wb1mLYmlm2PM1b35Xdin8TCl8LruhOX8/edit#gid=212241305">
        Editorial Calendar
      </a>
    </h3>

    <p>
      Check out our
      <a href="https://docs.google.com/spreadsheets/d/1qwjNqe8oQ-3Wb1mLYmlm2PM1b35Xdin8TCl8LruhOX8/edit#gid=212241305">schedule of blog posts</a>
      for the coming month (find the appropriate month tab at the bottom of the screen)
      to see what posts are coming up, and what ongoing contributions (i.e., weekly blog posts)
      are available to be claimed.
    </p>

    <h3>
      <a href="http://hood.ie/code-of-conduct/">Code of Conduct</a>
    </h3>

    <p>
      It cannot be stressed enough that
      <strong>our community is based on mutual respect, tolerance, and encouragement.</strong>
      So please read the <a href="http://hood.ie/code-of-conduct/">Code of Conduct</a>
      and familarize yourself with the dos and don’ts.
    </p>

    <h3>
      See also
    </h3>

    <ul>
      <li>
        {{#link-to "help" "Editorial Mission Statement"}}Editorial Mission Statement{{/link-to}}
      </li>
      <li>
        {{#link-to "help" "Language Style Guide"}}Hoodie language style guide{{/link-to}}
      </li>
      <li>
        {{#link-to "help" "Glossary"}}Glossary of common terms{{/link-to}}
      </li>
      <li>
        {{#link-to "help" "Blog Process"}}Hoodie blog post process{{/link-to}}
      </li>
      <li>
        {{#link-to "help" "How to create TGIF"}}Creating TGIF, our weekly reading recommendations{{/link-to}}
      </li>
      <li>
        {{#link-to "help" "How to create a shout-out blog post"}}How to create a shout-outs blog post{{/link-to}}
      </li>
    </ul>

    <h2>Who to contact for help</h2>

    <p>
      A lot of our conversations happen here on GitHub in the
      <a href="https://github.com/hoodiehq/editorial/issues">issue tracker</a>,
      or in the <a href="http://hood.ie/chat">#editorial channel in Slack</a>.
    </p>

    <p>
      If there’s something you’d like to talk about that you don’t think fits in either of those places, or you’d just like to have a more private conversation; please feel free to contact the following people:
    </p>

    <ul>
      <li>😎 Jenn Turner - <a href="https://github.com/renrutnnej">GitHub</a>, <a href="https://twitter.com/jennwrites">Twitter</a>, <a href="mailto:renrutnnej@gmail.com">renrutnnej@gmail.com</a> </li>
      <li>🐶 Jan Lehnardt - <a href="https://github.com/janl">GitHub</a>, <a href="https://twitter.com/janl">Twitter</a>, <a href="mailto:jan@hood.ie">jan@hood.ie</a></li>
      <li>💻 Charlotte Spencer - <a href="https://github.com/charlotteis">GitHub</a>, <a href="https://twitter.com/charlotteis">Twitter</a>, <a href="mailto:charlotte@hood.ie">charlotte@hood.ie</a></li>
    </ul>
  </div>
</div>
